{% extends "pages/base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<h1>Illustradle</h1>

<p>Today's category is <strong><em>{{ category }}</em></strong>.</p>
<p>Guess a word to see how similar it is to today's word.</p>

{% include "components/known-letters.html" %}

<ul id="previous_guesses"></ul>

<form hx-post="/api/guess" hx-swap="beforebegin">
    <input id="guess" name="guess" />
    <button type="submit">Submit</button>
</form>

{% include "components/hint-button.html" %}

{% endblock %}